/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Plotly.js
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

/* PLotly.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* plotly.js's modebar's z-index is 1001 by default
 * https://github.com/plotly/plotly.js/blob/7e4d8ab164258f6bd48be56589dacd9bdd7fded2/src/css/_modebar.scss#L5
 * In case a dropdown is above the graph, the dropdown's options
 * will be rendered below the modebar
 * Increase the select option's z-index
 */

/* This was actually not quite right -
   dropdowns were overlapping each other (edited October 26)

.Select {
    z-index: 1002;
}*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

table.calendar {
  width: 100%;
  border-collapse: collapse;
}

.calendar th {
  background-color: #f2f2f2;
}

.calendar td {
  width: 14.2857%; /* pour faire 7 colonnes */
  padding: 8px;
  text-align: center;
  vertical-align: top;
  border: 1px solid #ddd;
}

.calendar .day {
  background-color: #ffffff;
}

.calendar .day.today {
  background-color: #e9e9e9;
}

.calendar .day.prev, .calendar .day.next {
  color: #bbb;
}